* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
}

.header-group {
  display: flex;
  justify-content: space-around;
  font-size: 0;
}

.nav {
  display: flex;
}

.nav-list-item {
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.logo img {
  height: 70px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(mv.png);
  background-size: contain;
}

.main-title {
  padding-top: 200px;
  padding-bottom: 0;
  text-align: center;
  font-size: 64px;
  color: #fafafa;
}

.main-title-sub {
  margin-top: 10px;
  font-size: 20px;
}

.portfolio {
  background-color: #eceffe;
  text-align: center;
  margin: 0 auto;
}

.portfolio-main {
  width: 950px;
  margin: auto;
}

.portfolio-title {
  padding-top: 90px;
  padding-bottom: 8px;
  font-size: 32px;
  color: #000000;
}

.photo {
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.photo-box img {
  width: 300px;
  height: 250px;
}